[Unit]
Description=Run tgoeswallctrl every 10 minutes
Requires=tgoeswallctrl.service

[Timer]
Unit=tgoeswallctrl.service
OnUnitInactiveSec=10m
AccuracySec=1s

[Install]
WantedBy=timers.target
