[Unit]
Description=Service to make Geostationary Operational Environmental Satellite images, your wallpaper.
Wants=network.target
After=syslog.target network-online.target

[Service]
Environment=XAUTHORITY=~/.Xauthority
ExecStart=/usr/local/bin/tgoeswallctrl

