default engine google
default program firefox

engine google https://www.google.com/search?q=TERM
engine youtube https://www.youtube.com/results?search_query=TERM
engine duckduckgo https://www.duckduckgo.com/?q=TERM
engine netflix https://www.netflix.com/search?q=TERM
engine stack-overflow https://stackoverflow.com/search?q=TERM
engine google-maps https://www.google.com/maps/search/$TERM
engine translate https://translate.google.com/?sl=auto&tl=$LANG&text=TERM
engine reddit https://www.reddit.com/search/?q=TERM

program firefox firefox
program qutebrowser qutebrowser
program chrome google-chrome-stable